{% extends "layout.html" %}

{% block title %}Contacto - CV Pro AI{% endblock %}

{% block content %}
    <h1>Contacto</h1>
    <p>
        Si tienes preguntas, sugerencias o necesitas soporte, no dudes in contactarnos.
    </p>
    <p>
        Puedes enviarnos un correo electrónico a: 
        </p>
        <strong>contacto@ramtroz.com</strong> 
        </p>
        <strong> jorge.ramtroz1989@gmail.com <strong>
    </p>
    <p>
        Agradecemos tus comentarios para seguir mejorando nuestra herramienta.
    </p>

    <hr style="border: 0; border-top: 1px solid #eee; margin: 30px 0;">
    
    <div style="text-align: center; margin-top: 10px;">
        <img src="{{ url_for('static', filename='imagen_contacto.jpg') }}" 
             alt="Imagen de Contacto" 
             style="max-width: 100%; height: auto; border-radius: 15px; box-shadow: 0 8px 20px rgba(0,0,0,0.1);">
    </div>
    
    {% endblock %}